swagger: '2.0'
info:
  title: Clevergy Connect API
  description: Connect enables Clevergy customers to build integrations with the Clevergy platform. To request access please write to soporte.clientes@clever.gy
  version: 1.0.0
host: connect.clever.gy
schemes:
  - https
produces:
  - application/json
security:
  - key: []
paths:
  /auth/{userId}/token:
    get:
      summary: Get user access token
      description: |
        Returns user jwt based on the email. The jwt can be used in some endpoints
        of the API to obtain energy data from the user.
      tags:
        - Access control
      operationId: retrieveUserAccessToken
      parameters:
        - name: userId
          in: path
          description: Clevergy ID from the user (also available with email)
          required: true
          type: string
      responses:
        '200':
          description: User jwt
          schema:
            $ref: '#/definitions/AuthUser'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /connections:
    get:
      summary: Get all connections.
      description: Get connections.
      tags:
        - Connections
      operationId: getConnection
      responses:
        '200':
          description: List of connections
          schema:
            $ref: '#/definitions/ConnectionResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /energy-communities/{communityId}/remove-house:
    post:
      summary: Remove a house from an energy community
      description: |
        Removes a house from an energy community
      tags:
        - Energy communities
      operationId: removeEnergyCommunityHouseFromInstallation
      parameters:
        - name: communityId
          in: path
          description: Alphanumeric id from energy community
          required: true
          type: string
        - name: removeEnergyCommunityHouseRequest
          in: body
          schema:
            $ref: '#/definitions/RemoveEnergyCommunityHouseRequest'
      responses:
        '200':
          description: House successfully removed
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/HttpErrorForbidden'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /energy-communities/{energyCommunityId}/houses:
    post:
      summary: Assign a house to an energy community
      description: |
        Assign a house to an energy community
      tags:
        - Energy communities
      operationId: assignHouseToEnergyCommunity
      parameters:
        - name: energyCommunityId
          in: path
          description: Alphanumeric id from energy community
          required: true
          type: string
        - name: energyCommunityHouse
          in: body
          schema:
            $ref: '#/definitions/EnergyCommunityHouse'
      responses:
        '201':
          description: House successfully assigned
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /energy-communities/{energyCommunityId}/update-share:
    post:
      summary: Update share
      description: |
        Update share for an energy community house
      tags:
        - Energy communities
      operationId: updateEnergyCommunityHouseShare
      parameters:
        - name: energyCommunityId
          in: path
          description: Alphanumeric id from energy community
          required: true
          type: string
        - name: UpdateEnergyCommunityHouseRequest
          in: body
          schema:
            $ref: '#/definitions/UpdateEnergyCommunityHouseRequest'
      responses:
        '200':
          description: House successfully updated
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/HttpErrorForbidden'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /equipments:
    get:
      summary: Get all the tenant equipments of a given type
      description: |
        Get tenant equipments of a given type.
      tags:
        - Equipments
      operationId: getTenantEquipments
      parameters:
        - name: integrationType
          in: query
          description: Filter by integration type
          required: true
          type: string
          enum:
            - DISTRIBUTOR
            - SOLAR
            - SMART_DEVICE
            - STORAGE
        - name: cursor
          in: query
          description: Cursor for pagination (not inclusive)
          required: false
          type: string
          format: uuid
        - name: limit
          in: query
          description: Maximum number of equipments to return (max 100)
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: Page of equipments
          schema:
            $ref: '#/definitions/EquipmentsPage'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /equipments/{equipmentId}/storage:
    get:
      summary: Get storage equipment data
      description: |
        Returns the storage equipment information.
      tags:
        - Equipments
      operationId: getStorageEquipment
      parameters:
        - name: equipmentId
          in: path
          description: Id of the equipment
          required: true
          type: string
      responses:
        '200':
          description: StorageEquipment
          schema:
            $ref: '#/definitions/StorageEquipment'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /equipments/{equipmentId}/storage/schedule:
    post:
      summary: Schedule an action for a storage equipment
      description: |
        Schedules an action (charge or discharge) for a storage equipment.
      tags:
        - Equipments
      operationId: scheduleStorageEquipmentAction
      parameters:
        - name: equipmentId
          in: path
          description: Id of the equipment
          required: true
          type: string
        - name: scheduleStorageActionRequest
          in: body
          description: Request body to schedule an action
          required: true
          schema:
            $ref: '#/definitions/ScheduleStorageActionRequest'
      responses:
        '201':
          description: Action scheduled successfully
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /equipments/{equipmentId}/storage/soc:
    get:
      summary: Get storage equipment state of charge
      description: |
        Returns the storage equipment state of charge information.
      tags:
        - Equipments
      operationId: getStorageEquipmentSoc
      parameters:
        - name: equipmentId
          in: path
          description: Id of the equipment
          required: true
          type: string
        - name: startDate
          in: query
          description: Start date to filter by
          required: true
          type: string
          format: date-time
        - name: endDate
          in: query
          description: End date to filter by
          required: true
          type: string
          format: date-time
      responses:
        '200':
          description: StorageEquipmentSoc
          schema:
            $ref: '#/definitions/StorageEquipmentSoc'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses:
    get:
      summary: Get all the tenant houses
      description: |
        Get tenant houses
      tags:
        - Houses
      operationId: getTenantHouses
      parameters:
        - name: cursor
          in: query
          description: Cursor for pagination (not inclusive)
          required: false
          type: string
          format: uuid
        - name: limit
          in: query
          description: Maximum number of houses to return (max 100)
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: Page of houses
          schema:
            $ref: '#/definitions/HousesPage'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}:
    delete:
      summary: Delete a house
      description: |
        Deletes a house
      tags:
        - Houses
      operationId: deleteHouse
      parameters:
        - name: houseId
          in: path
          description: ID of house
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: House deleted successfully
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/HttpErrorForbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/contracts:
    post:
      summary: Create a contract
      description: |
        Creates a house contract
      tags:
        - Contracts - Deprecated
      operationId: createHouseContract
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: createHouseContract
          in: body
          schema:
            $ref: '#/definitions/CreateHouseContract'
      responses:
        '200':
          description: Contract created successfully
          schema:
            type: string
            description: Id of the contract created
        '400':
          description: Bad request (e.g., house cups not found)
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: House not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/contracts/{contractId}:
    get:
      summary: Get house contract by id
      description: |
        Gets a house contract by id
      tags:
        - Contracts - Deprecated
      operationId: getHouseContractById
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: contractId
          in: path
          description: Id of the contract
          required: true
          type: string
      responses:
        '200':
          description: House contract
          schema:
            $ref: '#/definitions/HouseContractDetail'
        '204':
          description: No contract found for the house
        '400':
          description: Bad request (e.g., house cups not found)
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/contracts/{contractId}/energy-prices:
    get:
      summary: Get energy prices from a contract
      description: |
        Gets the contract energy prices for specific dates. It allows to filter by start and end date, with a maximum of a year between them.
      tags:
        - Contracts - Deprecated
      operationId: getHouseContractEnergyPrices
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: contractId
          in: path
          description: Id of the contract
          required: true
          type: string
        - name: startDate
          in: query
          description: Start date to filter by
          required: true
          type: string
          format: date-time
        - name: endDate
          in: query
          description: End date to filter by
          required: true
          type: string
          format: date-time
      responses:
        '200':
          description: Contract prices added successfully
          schema:
            $ref: '#/definitions/HouseContractEnergyPriceResponse'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Add energy prices to a contract
      description: |
        Adds the contract energy prices for specific dates.
      tags:
        - Contracts - Deprecated
      operationId: addHouseContractEnergyPrices
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: contractId
          in: path
          description: Id of the contract
          required: true
          type: string
        - name: houseContractEnergyPriceRequest
          in: body
          description: Request containing contract energy prices and dates
          required: true
          schema:
            $ref: '#/definitions/HouseContractEnergyPriceRequest'
      responses:
        '200':
          description: Contract prices added successfully
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/disaggregation:
    get:
      summary: Get house disaggregation
      description: |
        Returns the consumption disaggregation of a house.
      tags:
        - Disaggregation
      operationId: getDisaggregationByHouse
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: startDate
          in: query
          description: Start date to filter by. p.e. 2025-04-01T00:00:00Z
          required: true
          type: string
          format: date-time
        - name: endDate
          in: query
          description: End date to filter by. p.e. 2025-04-30T00:00:00Z
          required: true
          type: string
          format: date-time
      responses:
        '200':
          description: Disaggregation
          schema:
            $ref: '#/definitions/HouseDisaggregation'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/energy-comparison:
    get:
      summary: Get energy comparison
      description: |
        Returns the energy of a house for a month and a comparison with different profiles
      tags:
        - Energy
      operationId: getEnergyComparison
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: month
          in: query
          description: Month to filter by
          required: true
          type: string
          format: MM/yyyy
      responses:
        '200':
          description: User house profile
          schema:
            $ref: '#/definitions/EnergyComparison'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/energy:
    get:
      summary: Get house energy
      description: |
        Returns the energy of a house for a date period (from startDate to endDate)
        grouped by date based on granularity
      tags:
        - Energy
      operationId: getEnergyByHouseId
      parameters:
        - name: houseId
          in: path
          description: ID of a house
          required: true
          type: string
        - name: startDate
          in: query
          description: Start date to filter by
          required: true
          type: string
          format: date-time
        - name: endDate
          in: query
          description: End date to filter by
          required: true
          type: string
          format: date-time
        - name: granularity
          in: query
          description: Granularity to group by
          required: true
          type: string
          enum:
            - YEARLY
            - MONTHLY
            - DAILY
            - HOURLY
        - name: includeTimeSpanStart
          in: query
          description: Time span start to filter within a day in hh:mm format (example 01:00)
          required: false
          type: string
        - name: includeTimeSpanEnd
          in: query
          description: Time span end to filter within a day in hh:mm format (example 01:00)
          required: false
          type: string
        - name: timeZone
          in: query
          description: Time zone for the dates requested and returned (example Europe/Madrid). By default, the time zone is UTC.
          required: false
          type: string
      responses:
        '200':
          description: House consumption
          schema:
            type: array
            items:
              $ref: '#/definitions/EnergyItem'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/equipments:
    get:
      summary: Get equipments of a house
      description: |
        Returns the equipments of a house
      tags:
        - Equipments
      operationId: getHouseEquipments
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
      responses:
        '200':
          description: House equipments
          schema:
            $ref: '#/definitions/HouseEquipments'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: House Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/external-contracts:
    post:
      summary: Link a contract with an external id
      description: |
        Links a contract with an external id
      tags:
        - Contracts - Deprecated
      operationId: assignExternalContractIdToContract
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: assignExternalContractToContractRequest
          in: body
          schema:
            $ref: '#/definitions/AssignExternalContractToContractRequest'
      responses:
        '200':
          description: Contract assigned successfully
          schema:
            type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/external-contracts/{externalContractId}:
    get:
      summary: Get contract id from external id
      description: |
        Gets contract id from the external id it is linked to
      tags:
        - Contracts - Deprecated
      operationId: getHouseContractIdByExternalId
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: externalContractId
          in: path
          description: External id of the contract
          required: true
          type: string
      responses:
        '200':
          description: Contract id
          schema:
            type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/house-detail:
    get:
      summary: Get house details
      description: |
        Returns house details.
      tags:
        - Houses
      operationId: getHouseDetail
      parameters:
        - name: houseId
          in: path
          description: ID of the house
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: House details
          schema:
            $ref: '#/definitions/UserHouseWithIntegrations'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/installations:
    post:
      summary: Link installation to a house
      description: |
        Link installation to a house
      tags:
        - Integrations
      operationId: connectInstallation
      parameters:
        - name: houseId
          in: path
          required: true
          type: string
        - name: connectInstallationRequest
          in: body
          schema:
            $ref: '#/definitions/ConnectInstallationRequest'
      responses:
        '200':
          description: Assigned installation to house
        '404':
          description: House not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/invoices:
    post:
      summary: Create an electricity invoice
      description: |
        This endpoint provides a signed URL for uploading a PDF invoice:
        - Step 1: POST invoice metadata to obtain the upload URL.
        - Step 2: PUT the PDF file to the returned URL (valid for 15 minutes).
        :::warning
        **Use only for electricity invoices.**<br />
        This endpoint is being deprecated and its functionality will be replaced by a new endpoint.
        Once the new endpoint is available, we will communicate it accordingly.
        :::
      tags:
        - Invoices - Deprecated
      operationId: createHouseInvoice
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: createHouseInvoice
          in: body
          schema:
            $ref: '#/definitions/CreateHouseInvoice'
      responses:
        '200':
          description: Invoice created successfully
          schema:
            $ref: '#/definitions/SignedUrl'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: House Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/invoices/{invoiceId}:
    delete:
      summary: Delete house invoice
      description: Deletes a house invoice
      tags:
        - Invoices - Deprecated
      operationId: deleteHouseInvoice
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: invoiceId
          in: path
          description: Id of the invoice
          required: true
          type: string
      responses:
        '200':
          description: Invoice deleted successfully
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: House or Invoice Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/last-contract:
    get:
      summary: Get the last contract of a house
      description: |
        Gets the last contract of a house
      tags:
        - Contracts - Deprecated
      operationId: getLastHouseContract
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
      responses:
        '200':
          description: Last contract of the house
          schema:
            $ref: '#/definitions/HouseContractDetail'
        '204':
          description: No contract found for the house
        '400':
          description: Bad request (e.g., house cups not found)
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/power:
    get:
      summary: Get house power
      description: |
        Returns the power of a house for a date period (from startDate to endDate)
      tags:
        - Power
      operationId: getPowerByHouseId
      parameters:
        - name: houseId
          in: path
          description: ID of a house
          required: true
          type: string
        - name: startDate
          in: query
          description: Start date to filter by
          required: true
          type: string
          format: date-time
        - name: endDate
          in: query
          description: End date to filter by
          required: true
          type: string
          format: date-time
        - name: timeZone
          in: query
          description: Time zone for the dates requested and returned (example Europe/Madrid). By default, the time zone is UTC.
          required: false
          type: string
      responses:
        '200':
          description: House power
          schema:
            type: array
            items:
              $ref: '#/definitions/PowerItem'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/settings:
    get:
      summary: Get house settings
      description: |
        Returns house settings.
      tags:
        - Settings
      operationId: getHouseSettings
      parameters:
        - name: houseId
          in: path
          description: ID of the house
          required: true
          type: string
      responses:
        '200':
          description: House settings
          schema:
            $ref: '#/definitions/HouseSettings'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update house settings
      description: |
        Updates house settings.
      tags:
        - Settings
      operationId: updateHouseSettings
      parameters:
        - name: houseId
          in: path
          description: ID of the house
          required: true
          type: string
        - name: houseSettings
          in: body
          schema:
            $ref: '#/definitions/HouseSettings'
      responses:
        '200':
          description: House settings
          schema:
            $ref: '#/definitions/HouseSettings'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/smartmeter:
    post:
      summary: Store energies for a house
      description: |
        Stores a list of energies and dates for a specific house.
        :::warning
        This endpoint is experimental. Please, contact us if you want to use it.
        :::
      tags:
        - Energy
      operationId: storeHouseEnergies
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: storeHouseEnergiesRequest
          in: body
          schema:
            $ref: '#/definitions/StoreHouseEnergiesRequest'
      responses:
        '200':
          description: Energies stored correctly
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/HttpErrorForbidden'
        '404':
          description: House Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /houses/{houseId}/update:
    put:
      summary: Update a house
      description: |
        Update a house
      tags:
        - Houses
      operationId: updateHouse
      parameters:
        - name: houseId
          in: path
          description: Id of the house
          required: true
          type: string
        - name: house
          in: body
          schema:
            $ref: '#/definitions/UpdateHouse'
      responses:
        '200':
          description: House updated successfully
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /installations:
    get:
      summary: Get all installations
      description: |
        Get all installations
      tags:
        - Integrations
      operationId: getInstallations
      parameters:
        - name: page
          in: query
          description: Number of the page starting at 1
          required: true
          type: integer
          format: int32
        - name: size
          in: query
          description: Size of the page
          required: true
          type: integer
          format: int32
        - name: sort
          in: query
          description: |
            Order by this param (ex:capacity, plantName, plantAddress,
            plantCode...).
          required: false
          type: string
          default: plantName
        - name: direction
          in: query
          description: Direction of the order.
          required: false
          type: string
          default: DESC
          enum:
            - ASC
            - DESC
        - name: integrationId
          in: query
          description: Filter by integration id
          required: false
          type: string
          format: uuid
        - name: name
          in: query
          description: Filter by installation name
          required: false
          type: string
        - name: hasHouseLinked
          in: query
          description: Filter by installation linked with house
          required: false
          type: boolean
      responses:
        '200':
          description: List of installations
          schema:
            $ref: '#/definitions/Installation'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /installations/{installationId}:
    put:
      summary: Update an installation
      description: |
        Update an installation
      tags:
        - Integrations
      operationId: updateInstallation
      parameters:
        - name: installationId
          in: path
          description: Id of the installation to update
          required: true
          type: string
        - name: updateInstallation
          in: body
          schema:
            $ref: '#/definitions/UpdateInstallation'
      responses:
        '200':
          description: Installation updated successfully
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Installation not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /integrations/users:
    post:
      summary: Assign an external user id to a user
      description: |
        Assign an external user id to a user for an integration
      tags:
        - Integrations
      operationId: assignExternalUserIdToUser
      parameters:
        - name: assignExternalUserIdToUser
          in: body
          schema:
            $ref: '#/definitions/AssignExternalUserIdToUser'
      responses:
        '200':
          description: External user id successfully assigned to user.
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    get:
      summary: Get assigned users for an integration
      description: |
        Get assigned users for an integration.
      tags:
        - Integrations
      operationId: getAssignedUsersOfIntegration
      parameters:
        - name: userId
          in: query
          description: user id
          type: string
        - name: externalUserId
          in: query
          description: external user id
          required: true
          type: string
        - name: vendor
          in: query
          description: integration vendor
          required: true
          type: string
          enum:
            - AUDINFOR
            - GISCE
      responses:
        '200':
          description: Assigned users successfully retrieved.
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /invoice-analysis:
    post:
      summary: Analyze invoice
      description: |
        Analizes an invoice from an url
      tags:
        - Invoices
      operationId: analyzeInvoice
      parameters:
        - name: analyzeInvoice
          in: body
          description: Invoice url. (Should be a public url)
          schema:
            $ref: '#/definitions/AnalyzeInvoice'
      responses:
        '200':
          description: Invoice analized and recorded.
          schema:
            $ref: '#/definitions/InvoiceAnalysisId'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /invoice-analysis/{invoiceAnalysisId}:
    get:
      summary: Get invoice analysis
      description: |
        Get latest available invoice analysis
      tags:
        - Invoices
      operationId: getInvoiceAnalysisById
      parameters:
        - name: invoiceAnalysisId
          in: path
          description: ID of invoice analysis.
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: latest invoice analysis
          schema:
            $ref: '#/definitions/InvoiceAnalysis'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /invoice-analysis/{invoiceAnalysisId}/tariffs:
    get:
      summary: Get invoice analysis tariffs
      description: |
        Get all available tariffs based on the invoice with their monthly invoice saving
      tags:
        - Tariffs
      operationId: getInvoiceTariffs
      parameters:
        - name: invoiceAnalysisId
          in: path
          description: ID of invoice analysis
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Tariffs with its monthly savings
          schema:
            $ref: '#/definitions/InvoiceTariffs'
        '204':
          description: No content. Returned when there are no defined tariffs.
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /tariffs:
    post:
      summary: Create new tariff
      description: Creates a new tariff and returns it
      tags:
        - Tariffs
      operationId: createTariff
      parameters:
        - name: tariff
          in: body
          description: Tariff attributes
          schema:
            $ref: '#/definitions/CreateTariff'
      responses:
        '200':
          description: Tariff successfully added.
          schema:
            $ref: '#/definitions/Tariff'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '409':
          description: Conflict. Tariff already exists
          schema:
            $ref: '#/definitions/HttpErrorConflict'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    get:
      summary: Get tariffs
      description: |
        Returns a list of tariffs
      tags:
        - Tariffs
      operationId: getTariffs
      responses:
        '200':
          description: list of tariffs
          schema:
            type: array
            items:
              $ref: '#/definitions/Tariff'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /tariffs/{tariffId}:
    get:
      summary: Get tariff details
      description: |
        Returns the details of a tariff
      tags:
        - Tariffs
      operationId: getTariff
      parameters:
        - name: tariffId
          in: path
          description: ID of tariff
          required: true
          type: string
      responses:
        '200':
          description: tariff details
          schema:
            $ref: '#/definitions/Tariff'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update tariff
      description: Updates a tariff and returns it
      tags:
        - Tariffs
      operationId: updateTariff
      parameters:
        - name: tariffId
          in: path
          description: ID of tariff
          required: true
          type: string
        - name: tariff
          in: body
          description: Tariff attributes
          schema:
            $ref: '#/definitions/CreateTariff'
      responses:
        '200':
          description: Tariff successfully updated.
          schema:
            $ref: '#/definitions/Tariff'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete tariff
      description: Deletes a tariff
      tags:
        - Tariffs
      operationId: deleteTariff
      parameters:
        - name: tariffId
          in: path
          description: ID of tariff
          required: true
          type: string
      responses:
        '200':
          description: Tariff successfully deleted.
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /tariffs/{tariffId}/energy-prices:
    put:
      summary: Set tariff energy prices
      description: |
        Sets the energy prices of a tariff, excluding taxes. The given dates should be in UTC, and sets the price (in €/kWh) for the given hour.
        Eg.: if a price for 2025-03-12T10:00:00Z is provided, it sets the price for the energy from 10:00 to 11:00.
      tags:
        - Tariffs
      operationId: setTariffEnergyPrices
      parameters:
        - name: tariffId
          in: path
          description: ID of tariff
          required: true
          type: string
        - name: tariffEnergyPrices
          in: body
          description: tariff energy prices to set
          required: true
          schema:
            $ref: '#/definitions/TariffEnergyPrices'
      responses:
        '200':
          description: Record successfully set.
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /tickets/{ticketId}:
    get:
      summary: Get ticket details
      description: |
        Returns the details of a ticket
      tags:
        - Tickets
      operationId: getTicketDetails
      parameters:
        - name: ticketId
          in: path
          description: ID of ticket
          required: true
          type: string
      responses:
        '200':
          description: ticket details
          schema:
            $ref: '#/definitions/Ticket'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update ticket
      description: Updates a ticket
      tags:
        - Tickets
      operationId: updateTicket
      parameters:
        - name: ticketId
          in: path
          description: ID of ticket
          required: true
          type: string
        - name: updateTicketRequest
          in: body
          description: Ticket attributes to be updated
          schema:
            $ref: '#/definitions/UpdateTicketRequest'
      responses:
        '200':
          description: ticket details
          schema:
            $ref: '#/definitions/Ticket'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /tickets/{ticketId}/comment:
    post:
      summary: Add comment
      description: |
        Add comment to ticket
      tags:
        - Tickets
      operationId: addCommentToTicket
      parameters:
        - name: ticketId
          in: path
          description: ID of ticket
          required: true
          type: string
        - name: commentRequest
          in: body
          description: message of the comment to add
          required: true
          schema:
            $ref: '#/definitions/CommentRequest'
      responses:
        '201':
          description: Comment successfully added to ticket
          schema:
            $ref: '#/definitions/Comment'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /comments/{commentId}/attachment-upload-url:
    post:
      description: Returns a signed, temporary bucket url to upload an file for a comment
      tags:
        - Tickets
      operationId: createCommentAttachmentSignedUrl
      parameters:
        - name: commentId
          in: path
          description: ID of comment
          required: true
          type: string
          format: uuid
        - name: attachmentRequest
          in: body
          description: Comment attachment request
          required: true
          schema:
            $ref: '#/definitions/CommentAttachmentRequest'
      responses:
        '200':
          description: A signed, temporary bucket url to upload an file for a comment. Valid for 15 minutes. To upload a file send a PUT request adding the file as form data. The file will be uploaded to the bucket and the url will be returned in the response.
          schema:
            $ref: '#/definitions/CommentAttachmentUrl'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /tips:
    get:
      summary: Get tips
      description: Get all public tips
      tags:
        - Tips
      operationId: getPublicSavingTips
      produces:
        - application/json
      responses:
        '200':
          description: List of public saving tips
          schema:
            type: array
            items:
              type: object
              $ref: '#/definitions/PublicSavingTip'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security: []
  /users:
    get:
      summary: Get users
      description: |
        Returns a paginated list of users filtered by a given criteria. If no filter
        parameter is included (nif, email), all the tenant users shall be returned.
      tags:
        - Users
      operationId: getUsers
      parameters:
        - name: page
          in: query
          description: Number of the page starting at 1
          required: false
          type: integer
          format: int32
        - name: size
          in: query
          description: Size of the page
          required: false
          type: integer
          format: int32
        - name: sort
          in: query
          description: Field to order by.
          required: false
          type: string
          default: id
          enum:
            - id
            - name
            - surname
            - email
            - nif
        - name: direction
          in: query
          description: Direction of the order.
          required: false
          type: string
          default: ASC
          enum:
            - ASC
            - DESC
        - name: nif
          in: query
          description: Filter by nif
          type: string
        - name: email
          in: query
          description: Filter by email
          type: string
      responses:
        '200':
          description: paginated list of users
          schema:
            $ref: '#/definitions/UsersPage'
        '400':
          description: Incorrect sort criteria or no filter parameter provided
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create new user
      description: Creates a new user and returns the id and the status of the created user
      tags:
        - Users
      operationId: createUser
      parameters:
        - name: userRegistration
          in: body
          description: User registration attributes
          schema:
            $ref: '#/definitions/UserRegistration'
      responses:
        '200':
          description: Record successfully added.
          schema:
            $ref: '#/definitions/UserCreated'
        '400':
          description: Bad request (user already exists)
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '409':
          description: User already exists with this email
          schema:
            $ref: '#/definitions/HttpErrorUserExists'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}:
    put:
      summary: Update an user
      description: |
        Updates user properties
      tags:
        - Users
      operationId: updateUser
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: updateUser
          in: body
          description: user properties to update
          required: true
          schema:
            $ref: '#/definitions/UpdateUser'
      responses:
        '200':
          description: Record successfully updated.
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete an user
      description: |
        Deletes the user's account and all its related information (meters, energy
        data...).

        **Please note that this action is irreversible.**

        When the response is a 202, the process is not immediate and usually takes
        several minutes until the user is permanently deleted.
      tags:
        - Users
      operationId: deleteUserAccount
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
      responses:
        '202':
          description: Record successfully deleted.
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/app-devices:
    get:
      description: Retrieve a user app devices
      summary: Retrieve a user app devices
      tags:
        - Users
      operationId: getUserAppDevices
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: List of user app devices
          schema:
            $ref: '#/definitions/UserAppDevicesList'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/authorize-user:
    post:
      description: Authorizes a user resource (a house) to another user
      summary: Authorize a user
      tags:
        - Users
      operationId: authorizeUser
      parameters:
        - name: userId
          in: path
          description: The ID of the owner user
          required: true
          type: string
          format: uuid
        - name: authorizeUserRequest
          in: body
          description: User authorization attributes
          schema:
            $ref: '#/definitions/AuthorizeUserRequest'
      responses:
        '201':
          description: Authorized successfully
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/houses:
    get:
      summary: Get user houses
      description: |
        Returns the user houses
      deprecated: true
      operationId: getUserHouses
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
      responses:
        '200':
          description: Houses of a given user
          schema:
            $ref: '#/definitions/UserHouses'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/HttpErrorForbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a house
      description: |
        Create a new house for the user
      tags:
        - Houses
      operationId: createHouse
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: createHouse
          in: body
          schema:
            $ref: '#/definitions/CreateHouse'
      responses:
        '200':
          description: Created house
          schema:
            $ref: '#/definitions/HouseCreated'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/supplies:
    get:
      summary: Get user houses
      description: |
        Search a list of houses of the user.
      tags:
        - Houses
      operationId: getUserSupplies
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
      responses:
        '200':
          description: Supplies of a given user
          schema:
            $ref: '#/definitions/UserHouses'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/user-detail:
    get:
      summary: Get user details
      description: |
        Retrieves detailed information about a specific user.
      tags:
        - Users
      operationId: getUser
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
      responses:
        '200':
          description: Record successfully retrieved.
          schema:
            $ref: '#/definitions/User'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/virtual-battery:
    post:
      summary: Create virtual battery transaction
      description: |
        Creates a user virtual battery transaction
      tags:
        - Virtual battery
      operationId: createVirtualBatteryTransaction
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: virtualBatteryRequest
          in: body
          description: User virtual battery transaction request
          schema:
            $ref: '#/definitions/UserVirtualBatteryTransaction'
      responses:
        '201':
          description: User virtual wallet transaction created
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/HttpErrorUnprocessableEntity'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/virtual-wallet:
    post:
      summary: Create virtual wallet transaction
      description: |
        Creates user virtual wallet transaction
      tags:
        - Virtual wallet
      operationId: createVirtualWalletTransaction
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: virtualWalletRequest
          in: body
          description: User virtual wallet transaction request
          schema:
            $ref: '#/definitions/UserVirtualWalletTransaction'
      responses:
        '201':
          description: User virtual wallet transaction created
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/HttpErrorUnprocessableEntity'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/gas-contracts:
    post:
      summary: Create a new gas contract
      description: |
        Creates a new gas contract with the provided details

        :::tip
        **Recommended guide**
        If you are unsure which parameters to include when creating a gas contract, refer to the [complete documentation](https://docs.clever.gy/developer/how-to-set-up/contracts).
        :::
      tags:
        - Contracts|Gas
      operationId: createGasContract
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: createGasContractRequest
          in: body
          description: Gas contract details to create
          required: true
          schema:
            $ref: '#/definitions/GasContractRequest'
      responses:
        '201':
          description: Gas contract created successfully
          schema:
            $ref: '#/definitions/GasContract'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: User not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        '409':
          description: Contract already exists (only if contract number is provided)
          schema:
            $ref: '#/definitions/HttpErrorConflict'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    get:
      summary: Get user gas contracts
      description: Retrieves the details of the user's gas contracts
      tags:
        - Contracts|Gas
      operationId: getUserGasContracts
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
      responses:
        '200':
          description: Successful retrieval of user's gas contracts
          schema:
            type: array
            items:
              $ref: '#/definitions/GasContract'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: User not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/gas-contracts/{contractId}:
    put:
      summary: Update an existing gas contract
      description: Updates the details of an existing gas contract
      tags:
        - Contracts|Gas
      operationId: updateGasContract
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: contractId
          in: path
          description: ID of gas contract
          required: true
          type: string
        - name: updateGasContractRequest
          in: body
          description: Gas contract details to update
          required: true
          schema:
            $ref: '#/definitions/GasContractRequest'
      responses:
        '200':
          description: Gas contract updated successfully
          schema:
            $ref: '#/definitions/GasContract'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Gas contract not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        '409':
          description: Contract already exists (only if contract number is provided)
          schema:
            $ref: '#/definitions/HttpErrorConflict'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete a gas contract
      description: Deletes an existing gas contract
      tags:
        - Contracts|Gas
      operationId: deleteGasContract
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: contractId
          in: path
          description: ID of gas contract
          required: true
          type: string
      responses:
        '204':
          description: Gas contract deleted successfully
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Gas contract not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    get:
      summary: Retrieve a gas contract
      description: Retrieves the details of a specific gas contract
      tags:
        - Contracts|Gas
      operationId: getGasContract
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: contractId
          in: path
          description: ID of gas contract
          required: true
          type: string
      responses:
        '200':
          description: Gas contract retrieved successfully
          schema:
            $ref: '#/definitions/GasContract'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Gas contract not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/electricity-contracts:
    post:
      summary: Create a new electricity contract
      description: |
        Creates a new electricity contract with the provided details

        :::tip
        **Recommended guide**
        If you are unsure which parameters to include when creating an electricity contract, refer to the [complete documentation](https://docs.clever.gy/developer/how-to-set-up/contracts).
        :::
      tags:
        - Contracts|Electricity
      operationId: createElectricityContract
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: createElectricityContractRequest
          in: body
          description: Electricity contract details to create
          required: true
          schema:
            $ref: '#/definitions/ElectricityContractRequest'
      responses:
        '201':
          description: Electricity contract created successfully
          schema:
            $ref: '#/definitions/ElectricityContract'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: User not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        '409':
          description: Contract already exists (only if contract number is provided)
          schema:
            $ref: '#/definitions/HttpErrorConflict'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    get:
      summary: Get user electricity contracts
      description: Retrieves the details of the user electricity contracts
      tags:
        - Contracts|Electricity
      operationId: getUserElectricityContracts
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
      responses:
        '200':
          description: Successful retrieval of electricity contracts
          schema:
            type: array
            items:
              $ref: '#/definitions/ElectricityContract'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: User not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/electricity-contracts/{contractId}:
    put:
      summary: Update an existing electricity contract
      description: Updates the details of an existing electricity contract
      tags:
        - Contracts|Electricity
      operationId: updateElectricityContract
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: contractId
          in: path
          description: ID of electricity contract
          required: true
          type: string
        - name: updateElectricityContractRequest
          in: body
          description: Electricity contract details to update
          required: true
          schema:
            $ref: '#/definitions/ElectricityContractRequest'
      responses:
        '200':
          description: Electricity contract updated successfully
          schema:
            $ref: '#/definitions/ElectricityContract'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Electricity contract not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        '409':
          description: Contract already exists (only if contract number is provided)
          schema:
            $ref: '#/definitions/HttpErrorConflict'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete an electricity contract
      description: Deletes an existing electricity contract
      tags:
        - Contracts|Electricity
      operationId: deleteElectricityContract
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: contractId
          in: path
          description: ID of electricity contract
          required: true
          type: string
      responses:
        '204':
          description: Electricity contract deleted successfully
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Electricity contract not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    get:
      summary: Retrieves electricity contract
      description: Retrieves the details of a specific electricity contract
      tags:
        - Contracts|Electricity
      operationId: getElectricityContract
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          type: string
        - name: contractId
          in: path
          description: ID of electricity contract
          required: true
          type: string
      responses:
        '200':
          description: Electricity contract retrieved successfully
          schema:
            $ref: '#/definitions/ElectricityContract'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Electricity contract not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/electricity-contracts/{contractId}/energy-prices:
    get:
      summary: Get energy prices from a contract
      description: |
        Gets the contract energy prices for specific dates. It allows to filter by start and end date, with a maximum of a year between them.
      tags:
        - Contracts
      operationId: getContractEnergyPrices
      parameters:
        - name: userId
          in: path
          description: Id of the user
          required: true
          type: string
        - name: contractId
          in: path
          description: Id of the contract
          required: true
          type: string
        - name: startDate
          in: query
          description: Start date to filter by
          required: true
          type: string
          format: date-time
        - name: endDate
          in: query
          description: End date to filter by
          required: true
          type: string
          format: date-time
      responses:
        '200':
          description: Contract prices added successfully
          schema:
            $ref: '#/definitions/ContractEnergyPriceResponse'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Add energy prices to a contract
      description: |
        Adds the contract energy prices for specific dates.
      tags:
        - Contracts
      operationId: addContractEnergyPrices
      parameters:
        - name: userId
          in: path
          description: Id of the user
          required: true
          type: string
        - name: contractId
          in: path
          description: Id of the contract
          required: true
          type: string
        - name: contractEnergyPriceRequest
          in: body
          description: Request containing contract energy prices and dates
          required: true
          schema:
            $ref: '#/definitions/ContractEnergyPriceRequest'
      responses:
        '200':
          description: Contract prices added successfully
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /contracts/{contractId}/invoices/{id}:
    get:
      summary: Get invoice by ID
      description: Retrieves the details of a specific invoice by its ID
      tags:
        - Invoices
      operationId: getInvoiceById
      parameters:
        - name: contractId
          in: path
          description: ID of the contract for which to retrieve the invoice
          required: true
          type: string
        - name: id
          in: path
          description: ID of the invoice to retrieve
          required: true
          type: string
      responses:
        '200':
          description: Invoice details retrieved successfully
          schema:
            $ref: '#/definitions/Invoice'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Invoice not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete an invoice
      description: Deletes a specific invoice by its ID
      tags:
        - Invoices
      operationId: deleteInvoice
      parameters:
        - name: contractId
          in: path
          description: ID of the contract for which to delete the invoice
          required: true
          type: string
        - name: id
          in: path
          description: ID of the invoice to delete
          required: true
          type: string
      responses:
        '204':
          description: Invoice deleted successfully
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Invoice not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update an invoice
      description: Updates the details of a specific invoice by its ID
      tags:
        - Invoices
      operationId: updateInvoice
      parameters:
        - name: contractId
          in: path
          description: ID of the contract for which to update the invoice
          required: true
          type: string
        - name: id
          in: path
          description: ID of the invoice to update
          required: true
          type: string
        - name: updateInvoiceRequest
          in: body
          description: Updated invoice details
          required: true
          schema:
            $ref: '#/definitions/CreateOrUpdateInvoiceRequest'
      responses:
        '200':
          description: Invoice updated successfully
          schema:
            $ref: '#/definitions/Invoice'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Invoice not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        '409':
          description: Invoice already exists for this user with the same external id (including on another contract of the same user)
          schema:
            $ref: '#/definitions/HttpErrorConflict'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{userId}/invoices:
    get:
      summary: Get invoices by user ID
      description: Retrieves all invoices associated with a specific user, including those without an uploaded PDF (`fileUrl` is null in that case).
      tags:
        - Invoices
      operationId: getInvoicesByUser
      parameters:
        - name: userId
          in: path
          description: ID of the user whose invoices to retrieve
          required: true
          type: string
      responses:
        '200':
          description: List of invoices retrieved successfully
          schema:
            type: array
            items:
              $ref: '#/definitions/Invoice'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: User not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /contracts/{contractId}/invoices:
    get:
      summary: Get invoices by contract ID
      description: Retrieves all invoices associated with a specific contract, including those without an uploaded PDF (`fileUrl` is null in that case).
      tags:
        - Invoices
      operationId: getInvoicesByContract
      parameters:
        - name: contractId
          in: path
          description: ID of the contract whose invoices to retrieve
          required: true
          type: string
      responses:
        '200':
          description: List of invoices retrieved successfully
          schema:
            type: array
            items:
              $ref: '#/definitions/Invoice'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Contract not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new invoice
      description: |
        Creates a new invoice with the provided details. This endpoint provides a signed URL for uploading a PDF invoice.

        :::tip
        **Recommended guide**
        If you are unsure which parameters to include when creating a gas or electricity invoice, refer to the [complete documentation](https://docs.clever.gy/developer/how-to-set-up/invoices).
        :::

        ### Steps and considerations
        1. POST invoice metadata to obtain the upload URL (`fileUrl` field).
        2. PUT the PDF file to the returned URL (valid for 15 minutes).

        > **Important:** After creating the invoice, the PDF must be uploaded to the `fileUrl` returned in the response. If the PDF is not uploaded, the invoice will not be processed and will not be available to the customer.
      tags:
        - Invoices
      operationId: createInvoice
      parameters:
        - name: contractId
          in: path
          description: ID of the contract for which to create the invoice
          required: true
          type: string
        - name: createInvoiceRequest
          in: body
          description: Invoice details to create
          required: true
          schema:
            $ref: '#/definitions/CreateOrUpdateInvoiceRequest'
      responses:
        '200':
          description: Invoice created successfully
          schema:
            $ref: '#/definitions/Invoice'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Contract not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        '409':
          description: Invoice already exists for this user with the same external id (including on another contract of the same user)
          schema:
            $ref: '#/definitions/HttpErrorConflict'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /sales-opportunities:
    get:
      summary: List sales opportunities
      description: |
        Returns a paginated list of sales opportunities for the tenant.
        Currently only CONTRACT opportunities are returned.
        Results are sorted by createdAt descending.
      tags:
        - Sales Opportunities
      operationId: getSalesOpportunities
      parameters:
        - name: page
          in: query
          description: Number of the page starting at 1
          required: false
          type: integer
          format: int32
          default: 1
        - name: size
          in: query
          description: Size of the page (max 100)
          required: false
          type: integer
          format: int32
          default: 10
        - name: status
          in: query
          description: Filter by status. Multiple values can be comma-separated.
          required: false
          type: string
          enum:
            - STARTED
            - POTENTIAL
            - FORMALIZED
            - CONVERTED
            - REJECTED
        - name: product
          in: query
          description: |
            Filter by product. Currently only CONTRACT is supported; other values return 400.
          required: false
          type: string
          enum:
            - CONTRACT
      responses:
        '200':
          description: Paginated list of sales opportunities
          schema:
            $ref: '#/definitions/SalesOpportunitiesPage'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /sales-opportunities/contract/{id}:
    get:
      summary: Get contract sales opportunity details
      description: |
        Returns the details of a CONTRACT sales opportunity, including contracting
        payload fields (contact data, CUPS, IBAN, invoice references, etc.).
        Returns 404 if the opportunity does not exist or is not a CONTRACT product.
      tags:
        - Sales Opportunities
      operationId: getContractSalesOpportunity
      parameters:
        - name: id
          in: path
          description: Sales opportunity ID
          required: true
          type: string
      responses:
        '200':
          description: Contract sales opportunity details
          schema:
            $ref: '#/definitions/ContractSalesOpportunity'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: Update contract sales opportunity status
      description: |
        Partially updates a CONTRACT sales opportunity. Currently only the status
        field is supported. Returns the updated opportunity.
        Returns 404 if the opportunity does not exist or is not a CONTRACT product.
      tags:
        - Sales Opportunities
      operationId: patchContractSalesOpportunity
      parameters:
        - name: id
          in: path
          description: Sales opportunity ID
          required: true
          type: string
        - name: patchContractSalesOpportunityRequest
          in: body
          description: Fields to update
          required: true
          schema:
            $ref: '#/definitions/PatchContractSalesOpportunityRequest'
      responses:
        '200':
          description: Updated contract sales opportunity
          schema:
            $ref: '#/definitions/ContractSalesOpportunity'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/HttpErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /sales-opportunities/{id}:
    delete:
      summary: Delete a sales opportunity
      description: |
        Hard-deletes a sales opportunity. Currently only CONTRACT opportunities are
        supported; other products return 404. Related notes are removed by cascade.
        Emits a Pub/Sub DELETE event (tenant webhooks are not notified for DELETE).
      tags:
        - Sales Opportunities
      operationId: deleteSalesOpportunity
      parameters:
        - name: id
          in: path
          description: Sales opportunity ID
          required: true
          type: string
      responses:
        '200':
          description: Deleted contract sales opportunity
          schema:
            $ref: '#/definitions/ContractSalesOpportunity'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/HttpErrorUnauthorized'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/HttpErrorNotFound'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  AuthUser:
    type: object
    properties:
      jwt:
        type: string
        example: eyJhbGciOiJSJhdWQiOiJodHRwczopdC5nb29nbGVhcGlzLmNvbS9nb29nbGUuaWRlbnRpdHkuaWRlbnRpdHl0b29sa2l0LnYxLklkZW50aXRF0IjoxNzAzODU0NzY5LCJpc3MiOiJwdWJsaWMtZnJvbnQtYmFja0BjbGV2ZXJneS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsInN1YiI6InB1YmxpYy1mcm9udC1iYWNrQGNXA
      userId:
        type: string
        example: U7Q02aMJm9VokGsNIZmID3BK25p3
  User:
    type: object
    properties:
      id:
        type: string
        example: U4NW5zdmstUtRZW5Oi3S2CR5l0U2
      name:
        type: string
        example: Pedro
      surname:
        type: string
        example: García
      email:
        type: string
        example: pedro.garcia@mail.com
      nif:
        type: string
        example: 00000000T
      language:
        type: string
        example: es-ES
        description: User language in BCP 47 format
      optOutCode:
        type: string
        example: 123456
        description: Code to opt out of emails
    required:
      - id
      - email
      - optOutCode
  UsersPage:
    type: object
    description: Paginated list of users
    properties:
      size:
        type: integer
        description: Number of elements in the page requested
      page:
        type: integer
        description: Number of the page requested
      totalPages:
        type: integer
        description: Number of total pages
      totalElements:
        type: integer
        description: Number of total elements in the list
      elements:
        type: array
        description: List of users
        items:
          type: object
          $ref: '#/definitions/UsersPageElement'
    required:
      - size
      - page
      - totalPages
      - totalElements
      - elements
  UsersPageElement:
    type: object
    properties:
      id:
        type: string
        example: U4NW5zdmstUtRZW5Oi3S2CR5l0U2
      name:
        type: string
        example: Pedro
      surname:
        type: string
        example: García
      email:
        type: string
        example: pedro.garcia@mail.com
      nif:
        type: string
        example: 00000000T
  UserCreated:
    type: object
    properties:
      id:
        type: string
        example: U4NW5zdmstUtRZW5Oi3S2CR5l0U2
      status:
        type: string
        example: INITIAL
  UserRegistration:
    type: object
    properties:
      name:
        type: string
        example: John
      surname:
        type: string
        example: Doe
      email:
        type: string
        format: email
        example: john.doe@example.com
      dni:
        type: string
        example: 12345678X
      phoneNumber:
        type: string
        example: '600000000'
      language:
        type: string
        example: es-ES
        description: User language in BCP 47 format
  UpdateUser:
    type: object
    properties:
      name:
        type: string
        example: John
      surname:
        type: string
        example: Doe
      email:
        type: string
        format: email
        example: john.doe@example.com
      dni:
        type: string
        example: 12345678X
      phoneNumber:
        type: string
        example: '600000000'
  UserHouses:
    type: array
    items:
      type: object
      properties:
        houseId:
          type: string
          example: 8ec307fc-3b4c-4f6f-b320-fa2587990a46
        cups:
          type: string
          example: ES0022123456781234AB0F
        address:
          type: string
          example: Leonardo da Vinci 7
        postalCode:
          type: string
          example: '41092'
        firstConsumptionDate:
          type: string
          format: date-time
          example: '2022-12-31T23:00:00'
        lastConsumptionDate:
          type: string
          format: date-time
          example: '2023-12-31T22:00:00'
  UserHouseWithIntegrations:
    type: object
    properties:
      details:
        type: object
        properties:
          houseId:
            type: string
            format: uuid
          userId:
            type: string
          cups:
            type: string
          address:
            type: string
          postalCode:
            type: string
          timeZone:
            type: string
        required:
          - houseId
          - userId
      houseMetadata:
        type: object
        properties:
          firstDateEnergy:
            type: string
            format: date
          lastDateEnergy:
            type: string
            format: date
          firstDatePower:
            type: string
            format: date
          lastDatePower:
            type: string
            format: date
          firstDateCost:
            type: string
            format: date
          lastDateCost:
            type: string
            format: date
          isOwner:
            type: boolean
      houseIntegrations:
        type: object
        $ref: '#/definitions/HouseIntegrations'
      supplyPoints:
        type: array
        items:
          type: object
          $ref: '#/definitions/SupplyPoint'
    required:
      - details
      - houseMetadata
      - houseIntegrations
      - supplyPoints
  CreateHouse:
    type: object
    description: Create house request
    properties:
      address:
        type: string
        description: House address (should not exceed 124 characters)
        example: Leonardo da Vinci 7
      postalCode:
        type: string
        description: House postal code
        example: '41092'
      cups:
        type: string
        description: Deprecated. When filled, CUPS of the supply to connect. This field will be removed in a future version.
        example: ES0022123456781234AB0F
  HouseCreated:
    type: object
    description: Create house response
    properties:
      id:
        type: string
        description: House id
        example: f8c3de3d-1fea-4d7c-a8b0-29f63c4c3454
      address:
        type: string
        description: House address
        example: Leonardo da Vinci 7
      postalCode:
        type: string
        description: House postal code
        example: '41092'
  UpdateHouse:
    type: object
    properties:
      address:
        type: string
[...]
